* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  color: var(--text-color);
}

:root {
  --text-color: White;
  --bg-mobile: url(./assets/bg-gif-day.gif);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.1);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-mobile: url(./assets/bg-gif-night.gif);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-mobile) no-repeat center;
  background-size: cover;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#container {
  border-radius: 1.5%;
  width: 100%;
  max-width: 588;
  margin: 56px auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Profile */

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112;
  border-radius: 50%;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}

/* Switch */

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: rgb(255, 255, 255) var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.4s;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: 4px;
  -webkit-backdrop-filter: 4px;
  border-radius: 9999px;
}

.light #switch button {
  background: rgb(0, 0, 0) var(--switch-bg-url) no-repeat center;
  animation: slide-in 0.4s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0px 0px;
  max-width: 500px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 64px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.8s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;
  gap: 12px;

  padding: 24px;
  font-size: 24px;
}

#social-links a {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
  font-size: 32px;
}

footer {
  text-align: center;
  font-size: 14px;
  padding: 1.5rem;
  font-weight: 700;
}

footer a {
  text-decoration: none;
}
/* animation */

@keyframes slide-in {
  from {
    right: 0;
  }
  to {
    right: 50%;
  }
}

@keyframes slide-back {
  from {
    right: 50%;
  }
  to {
    right: 0;
  }
}
